server {
    server_name www.xy90.cc;
    listen 80 default_server;
    listen [::]:80 default_server ipv6only=on;

    root /home/bbs;

    location /static {
        alias /home/bbs/static;
        }
    location / {
        proxy_pass http://localhost:2000;
}